.section1 {
    background-color: #a82d49;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 45px;
    font-size: 50px;
    font-weight: bold;
    height: auto;
    text-align: center;
    overflow: hidden;
    max-width: 100%;
    margin-top: -63px;
}
.section1 span {
    display: block;
    font-size: 14px;
    letter-spacing: 3px;
    margin-top: -3px;
    margin-left: -6px;
}

.section2 {
    padding-top: 100px;
}
.section2 img {
    width: 700px;
    height: 500px;
}
.section2 .info {
    padding-top: 80px;
}
.section2 .info h2 {
    color: #43121d;
    font-size: 40px;
    font-weight: bold;
}
.section2 .info p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.section3 {
    padding-top: 50px;
}
.section3 .info {
    margin-top: 20%;
}
.section3 .info h2 {
    color: #43121d;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}
.section3 p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}
.section3 ul {
    padding: 0;
    list-style: none;
}
.section3 ul li {
    font-size: 16px;
    padding-bottom: 10px;
}
.section3 ul li span {
    font-size: 20px;
    margin-top: -3px;
    text-align: center;
    font-weight: bold;
    color: #a82d49;
}

.section4 {
    position: relative;
    text-align: center;
}

.section4 img {
    width: 100%;
    height: 500px;
}
.section4 .info {
    position: absolute;
    bottom: 50px;
    margin-left: 200px;
    width: 60%;
}
.section4 .info h2 {
    color: #a82d49;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}
.section4 .info p {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}
.section4 .info a {
    text-decoration: none;
    color: #a82d49;
}

.section5 {
    padding-top: 80px;
}

.section5 .info {
    text-align: center;
    padding-bottom: 50px;
}

.section5 .info h2 {
    color: #43121d;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

.section5 .info p {
    font-size: 18px;
}

.section5 img {
    width: 380px;
    height: 280px;
    border-radius: 6px;
}
.section5 .infoData {
    margin-left: 5px;
}
.section5 .infoData h2 {
    color: #43121d;
    font-size: 20px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 0px;
}
.section5 .infoData h4 {
    color: #bfc8d3;
    font-size: 16px;
    margin-top: -2px;
}
.section5 .infoData h3 {
    color: #a82d49;
    font-weight: bold;
    font-size: 25px;
}
.section5 .infoData button {
    padding: 13px 20px;
    margin-top: 20px;
}
.section6{
    padding: 30px 0;
}
.section6 h2 {
    text-align: center;
    color: #43121d;
    font-size: 35px;
    font-weight: bold;
    margin: 30px 0;
}
.section6 h3{
    font-size: 20px;
    color: #43121d;
    margin: 8px 0;
}
.section6 p{
    color: #ABADAB;
    margin: 8px 0;
    letter-spacing: 1.2px;
}

